* {
  box-sizing: border-box;
}

body {
  font-family: Verdana, "Times New Roman", Georgia, Serif; 
  color: #A19C96;
}

.wrapper {
  margin: 0 auto;
  position: relative;
  padding: 0; 

}

.header {
  height: 100px;
  width: 768px;
}

.header-logo {
  display: inline-block;
}

.header-nav {
  overflow: hidden;
  position: absolute;
  right: 0;
  top: 55px;
}

.header-nav a   {
  color: #A19C96;
  font-size: 24px;
  text-decoration: none;
  font-weight: bold;
}

.anvil {
  padding-top: 20px;
  display: block;
  padding-bottom: 20px;
}

h2 {
  font-weight: normal;
  font-size: 24px;
  padding-bottom: 10px;
}

.text-block {
  width: 100%;
  display: block;
  font-size: 11px;
  word-wrap: normal;

/*
  text-align: justify;
  text-justify: inter-word;
*/
}

.text-block1 {
  display: inline-block;
  width: 40%;
  float: left;
}

.text-block2 {
  display: inline-block;
  width: 50%;
  float: right;
}

/*Responive part*/

/*Larger than 1024px*/
@media screen and (min-width: 1024px) {
  .wrapper {
    width: 780px;
  }

  #anvil-image {
    max-width:780px;
    width: auto;
    height: auto;
  }

  .header-nav a   {
    padding-left: 50px;

  }
}

/*Between 780 and 1024px. Max width of image is 780*/
@media screen and (max-width: 1024px) {
  .wrapper {
    width: 768px;
  }

  #anvil-image {
    max-width: 768px;
  }

  .header-nav a   {
    padding-left: 45px;
  }
}


/*Between 660 and 780px*/
@media screen and (min-width: 660px) and (max-width: 780px) {
  .wrapper {
    width: 655px;
  }

  #anvil-image {
    max-width: 655px;
  }

  .header-nav a   {
    padding-left: 20px;
  }
}













/*Larger than 1024px*/
@media screen and (max-width: 660px) {
  .wrapper {
    width: 100%;
  }

  .header-logo, .header-nav {
    position: relative;
    top: 0;
    padding-left: 0;
  }

  .header-nav a   {
    padding-left: 0;
    display: block;
    min-width: 200px;
  }

  h2 {
    font-weight: normal;
    font-size: 24px;
    padding-bottom: 10px;
  }

  #anvil-image {
    display: none;
  }

  .text-block {
    position: relative;
    top: 30px;
  }

  .text-block1, .text-block2 {
    clear: left;
    float: left;
    width: 100%;
    min-width: 250px;
  }
}